# Виртуальное окружение
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных
db.sqlite3
*.sqlite3

# Загруженные файлы
media/
*.txt
*.pdf
*.jpg
*.png
*.jpeg

# IDE
.vscode/
.idea/
*.swp

# Системные
.DS_Store
Thumbs.db

# Логи
*.logtextfile
