{% extends "shopapp/base.html" %}

{% block title %}
    Order № {{order.id}} details
{% endblock  %}

{% block body %}
    <h1>Order № {{order.id}} details</h1>
    <p>Order by {% firstof order.user.first_name order.user.username %}</p>
    <p>Promocode: <code>{{order.promocode}}</code></p>
    <p>Delivery address: {{order.delivery_address}}</p>
    <h2>Products in this order:</h2>
    <ul>
        {% for product in object.products.all %}
            <li>{{product.name}} for ${{product.price}}</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'shopapp:order_list' %}">Back to orders list</a>
    </div>
{% endblock  %}
