{% extends "shopapp/base.html" %}

{% block title %}Удаление заказа{% endblock %}

{% block body %}

<div class="card">
    <h1>Удаление заказа</h1>

    <p>
        Вы действительно хотите удалить заказ №{{ object.pk }}?
    </p>

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Да, удалить
        </button>

        <a href="{% url 'shopapp:order_details' pk=object.pk %}" class="btn btn-primary">
            ← Отмена
        </a>
    </form>
</div>

{% endblock %}