{% extends "shopapp/base.html" %}

{% block title %}
    Product №{{ product.id }}
{% endblock  %}

{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div>
            <p>Product ID: {{ product.id }}</p>
            <p>Product Name: {{ product.name }}</p>
            <p>Product Price: {{ product.price }}</p>
            <p>Product Description: {{ product.description }}</p>
        </div>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">
            Back to Products List
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' product.pk %}">
            Arhive Product
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_update' product.pk %}">
            Update Product
        </a>
    </div>
{% endblock  %}